/* src/PideTuCita.css */

.pide-tu-cita-container {
  max-width: 500px; /* Ancho máximo del formulario */
  margin: 0 auto; /* Centra el formulario */
  padding: 1.5rem; /* Espaciado interno */
  border: 1px solid #ddd; /* Borde suave */
  border-radius: 5px; /* Bordes redondeados */
  background-color:#f0f8ff; /* Fondo blanco */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra para darle profundidad */
}

h2 {
  text-align: center; /* Centrar el título */
}

.form-group {
  margin-bottom: 1rem; /* Espacio entre grupos de formularios */
}

label {
  display: block; /* Que el label ocupe toda la línea */
  margin-bottom: 0.5rem; /* Espacio entre el label y el input */
}

input, select {
  width: 100%; /* Ancho completo para inputs y selects */
  padding: 0.5rem; /* Espaciado interno */
  border: 1px solid #ccc; /* Borde suave */
  border-radius: 4px; /* Bordes redondeados */
}

button {
  width: 100%; /* Ancho completo del botón */
  padding: 0.75rem; /* Espaciado interno del botón */
  background-color: #007bff; /* Color de fondo azul */
  color: white; /* Color del texto blanco */
  border: none; /* Sin borde */
  border-radius: 5px; /* Bordes redondeados */
  font-size: 1rem; /* Tamaño de fuente */
  cursor: pointer; /* Cambiar cursor al pasar */
  transition: background-color 0.3s ease; /* Transición suave para el hover */
}

button:hover {
  background-color: #0056b3; /* Color de fondo al hacer hover */
}
