/* src/SobreNosotros.css */
.sobre-nosotros {
    padding: 20px;
    background-color: transparent;
    color: #f0f8ff; /* Color de texto */
    border-radius: 8px; /* Bordes redondeados */
    margin: 20px;
  }
  